@import url('https//fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
/* début */
body{       
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/* contenu gauche */

.container .Left_Side
{
    position: relative;
    background: #003147;
    padding: 40px;
}
a:visited,a:link
{
    color:#fff;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.profileText h2 span
{
    font-weight: 300;
}
.contactInfo
{
    padding-top: 40px;
}
.title
{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;

}
.contactInfo ul li
{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span
{
    color: #fff;
    font-weight: 300;
    font-size: 70%;
}
.contactInfo.formation li
{
    margin-bottom: 15px;

}
.contactInfo.formation h5{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.formation h4:nth-child(2)
{
    color: #fff;
    font-weight: 500;
}
.contactInfo.formation h4
{
    color: #fff;
    font-weight: 500;
}
.contactInfo.langue .pourcent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo.langue .pourcent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

/* contenu droit */

.container .Right_Side
{
    position: relative;
    background: #ffffff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}

.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
    text-align: justify;
}
.about .box .year
{
min-width: 150px;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year h5
{
    text-transform: uppercase;
    color: #848C90;
    font-weight: 600;
}
.about .box .text h4
{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4
{
    text-transform: uppercase;
    color: #848C99;
    font-weight: 500;

}
.skills .box .pourcent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0F0F0;
}
.skills .box .pourcent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.interets ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interets ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interets ul li .fas 
{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
    margin: 10px;
}
.un li
{
    list-style: none;
    color: #fff;
}
.un li::before 
{
    content: "•"; color: #03a9f9;
    margin: 10px;
}

/* signature JS */

.txt-rotate
{
    font-size: 35px;
    color: #003147;
    text-align: center;
}

/* responsive */

@media (min-width:1000px)
{
    .about .box .year
    {
        min-width: 150px;
        max-width: 150px;
    }
}
@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interets ul 
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:600px)
{
    .about .box .year
    {
        min-width: 150px;
        max-width: 150px;
    }
}
@media (max-width: 600px)
{
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year
    {
        margin-bottom: 5px;
    }
    .interets ul 
    {
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box
    {
        grid-template-columns: repeat(1,1fr);
    }
    }